body {
    margin: 0;
    padding: 0;
    background-color: #FFFFE0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#menu {
    background-color: #ffc800;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: #3A2603 solid;
    border-radius: 10px;
    justify-content: flex-start;
}

#menu img {
    max-height: 90px;
	margin: 0;
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 20px;
    font-size: 20px;
}

#rodape {
    margin-top: auto;

    min-height: 90px;
    background-color: #FFC800;
    display: flex;
    align-items: center;

    border: #3A2603 solid;
    border-radius: 10px;
    box-sizing: border-box;
}

#rodape a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
}

#rodape img {
    height: 90px;
    margin: 0;
    padding: 0;
}

#carrossel {
    width: 1200px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 30px auto;
}

.imagens {
    display: flex;
    width: 3600px;
    transition: transform 0.5s;
}

.imagens img {
    width: 1200px;
    height: 300px;
    flex-shrink: 0;
    object-fit: cover;
}

/* Setas */

.anterior,
.proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
    cursor: pointer;
    
}

.anterior {
    left: 10px;
}

.proximo {
    right: 10px;
}